@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,500;1,300&display=swap');

html {
  height: 100%;
  width: 100%;
}

body {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
  background-color: rgb(170, 170, 170);
  font-family: 'Crimson Pro';
  padding-top: 25px;
}

a {
  color: #333;
  border-bottom: 0;
  text-decoration: none;
  display: inline;
}

#rules {
  margin-bottom: 0rem;
  width: 65%;
  max-width: 850px;
  text-align: start;
}

#darkmode-toggle {
  margin-top: 4rem;
  margin-bottom: 4rem;
  cursor: pointer;
  justify-self: left;
  border: 1px solid;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
}

.name {
  font-family: 'Crimson Pro';
  font-size: 48px;
  text-align: center;
}

.poem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.content {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding-bottom: 4rem;
}

.essay {
  width: 65%;
  max-width: 850px;
  border-bottom: 0;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
  text-align: justify;
  text-justify: inter-character;

  i {
    white-space: nowrap;
  }
}

.quote {
  @extend .essay;
  width: 50%;
  max-width: 654px;
}
